<app-heavyweight-ball></app-heavyweight-ball>
<!-- <input type="text" [formControl]="formulaire" /> -->
<div>
  <label
    >poids:
    <input [(ngModel)]="ball.poids" placeholder="poids de votre ball" />
  </label>
</div>
<!-- <form
  #myform="ngForm"
  (ngSubmit)="log(myform.value)"
  class="form form-register"
  >
  <div class="form-field">
    <label class="user" for="register-username"
    ><span class="hidden">Name</span></label
    >
    <input
    name="poids1"
    type="input"
    class="form-input"
    placeholder="value"
    ngModel
    value="2"
    />
    <input
    name="poids2"
    type="input"
    class="form-input"
    placeholder="value"
    ngModel
    value="2"
    />
    <button type="submit">processe</button>
  </div>
</form> -->

<div id="containerBoule">
  <div class="circle" *ngFor="let ball of balls$">
    <div class="insideCircle">
      <span>{{ ball }}</span>
    </div>
  </div>
</div>
<div id="containerBalance">
  <div id="label">balance Roberval</div>
  <div id="containerButtonBalance">
    <button (click)="findBouleMax(balls$)">Exécuter</button>
    <button (click)="reset()">Reset</button>
  </div>
</div>
<div *ngIf="showResultat" id="containerResultat">
  <label
    >C'est la boule : "{{ resultatBouleMax }}" qui est la plus lourde!
  </label>
  <br />
  <label>Solution trouvée en : "{{ resultatIteration }}" itération</label>
</div>
<h2>ball details</h2>
<div>id : {{ ball.id }}</div>
<div>poids: {{ ball.poids }}</div>
